#slide-4
 

  img
    float: left
    position: relative
    left: 150px

  .side
    width: 600px
    display: inline-block
    position: relative
    right: -200px
    top: 22px
    
  ul 
    margin: 0 0 0 20px
    padding: 0
    li
      margin-bottom: 20px

  p.center
    clear: both
    margin-top: 120px