#slide-5

  
  img
    position: relative
    left: 200px
    top: -40px

  .side
    width: 650px
    display: inline-block
    position: absolute
    right: 190px
    top: 140px
  

  p
    font-size: 1.25em
    margin-bottom: 40px

  .img-2
    top: -100px
    left: 200px

  .img-3
    top: -160px
