#slide-3
  
  img
    float: right
    position: relative
    right: 250px

  .side
    width: 700px
    display: inline-block
    position: relative
    left: 150px
    top: 203px
    
  ul 
    margin: 0 0 0 20px
    padding: 0
    li
      margin-bottom: 20px