#slide-2

  
  img
    float: left
    position: relative
    left: 150px

  .side
    width: 500px
    display: inline-block
    position: relative
    left: 400px
    top: -114px

    p
      margin-bottom: 40px

  .img-1
    left: 140px
    z-index: 2

  .img-2
    left: -23px
    top: 154px
    z-index: 2


  .img-3
    left: -641px
    top: 296px
    z-index: 1

  .img-4
    top: 160px
    left: 358px
    z-index: 2
    
   